<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225990621752-qfdl5ua3peu9vo876k9gmeg6lebvabjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225990621752-qfdl5ua3peu9vo876k9gmeg6lebvabjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCqm5gBSHnUn0NhQlEtzUdjto5sm4xinAo</string>
	<key>GCM_SENDER_ID</key>
	<string>225990621752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.vctranscribe</string>
	<key>PROJECT_ID</key>
	<string>vc-transcribe</string>
	<key>STORAGE_BUCKET</key>
	<string>vc-transcribe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225990621752:ios:c038ef5707e0f6bc3104cd</string>
</dict>
</plist>